
@model EduzeniethFinal.Models.Teacher

@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div style="float:left;width:50%;">
                <h2 style="padding:50px;">Teacher Login</h2>
                <hr />
                <div class="image-container" style="padding:50px;">
                    <img src="~/Image/registration.png" class="img-fluid" alt="...">
                </div>

            </div>
            <div class="col-6 mx-auto bg-light p-3" style="float:right;">



                <form method="post" style="padding-top:250px;">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-md-6" style="padding:15px;">
                                <!-- Adjust the column size as needed -->
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clear"></div>
            </div>

        </div>
    </div>


    @if (@ViewBag.Log != null)
    {
        <p>@ViewBag.Log</p>
    }
    <script src="~/bundles/bootstrap.bundle.min.js"></script>
</body>
</html>
</html>

