@model EduzeniethFinal.Models.Teacher
@{
    ViewBag.Title = "Teacher_Details";

    Layout = "~/Views/Shared/Teacher.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .teacher-detail {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .teacher-detail h2 {
                margin-bottom: 20px;
            }

            .teacher-detail p {
                font-size: 1.1em;
            }

                .teacher-detail p span {
                    font-weight: bold;
                    color: #0B5ED7;
                }
    </style>
</head>

<body>

    <div>
        <h2>Teacher Details</h2>
        <hr />
        <div class="image-container" style="padding:50px;width:25%;height:25%;float:left;">
            <img src="~/Image/Teacher_logo.png" class="img-fluid" alt="...">
        </div>
        <div class="container">
            <div class="teacher-detail" style="background-color: #EDF5FF;">

                <p><span>Username:</span> @Html.DisplayFor(model => model.Username)</p>
                <p><span>First Name:</span> @Html.DisplayFor(model => model.first_name)</p>
                <p><span>Last Name:</span> @Html.DisplayFor(model => model.last_name)</p>
                <p><span>Father Name:</span> @Html.DisplayFor(model => model.father_name)</p>
                <p><span>Email:</span> @Html.DisplayFor(model => model.Email)</p>
                <p><span>Designation:</span> @Html.DisplayFor(model => model.Designation)</p>
                <p><span>Marital Status:</span> @Html.DisplayFor(model => model.MaritalStatus)</p>
                <p><span>Mobile Number:</span> @Html.DisplayFor(model => model.MobileNumber)</p>
                <p><span>Nationality:</span> @Html.DisplayFor(model => model.Nationality)</p>
                <p><span>Religion:</span> @Html.DisplayFor(model => model.Religion)</p>
                <p><span>Address:</span> @Html.DisplayFor(model => model.Address)</p>
                <p><span>Gender:</span> @Html.DisplayFor(model => model.Gender)</p>
                <p><span>Educational Field:</span> @Html.DisplayFor(model => model.EducationalField)</p>
                <p><span>NID or Passport No:</span> @Html.DisplayFor(model => model.NID_PassportNo)</p>

            </div>
        </div>
    </div>
</body>
</html>
