@model IEnumerable<EduzeniethFinal.Models.Course>
@{
    ViewBag.Title = "Enrolled_Courses";
    Layout = "~/Views/Shared/Student.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .course-item {
            transition: transform 0.3s, box-shadow 0.3s;
        }

            .course-item:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="padding:50px;">Enrolled Courses</h2>
                <hr />
            </div>
            @foreach (var item in Model)
            {
                <div class="col-4 mb-4 course-item" style="height: 500px; width: 33.33%; background-color: aliceblue; ">
                    <div style="padding: 20px; background-color: #0D6EFD; color:white;">
                        <h6><strong>Course Code :</strong> @Html.DisplayFor(modelItem => item.Course_Code)</h6>
                        <h6><strong>Course Name: </strong>@Html.DisplayFor(modelItem => item.Course_Name)</h6>
                    </div>
                    <div style="padding: 50px; background-color: aliceblue; height: 150px;">
                        <h5>Course Teacher id or name: @Html.DisplayFor(modelItem => item.teacherID)</h5>
                        <p>Course Description : @Html.DisplayFor(modelItem => item.Course_desc)</p>
                        <p>Course created at: @Html.DisplayFor(modelItem => item.Created_at)</p>
                    </div>
                    <div style="height: 150px; background-color: aliceblue; display: flex; justify-content: center; align-items: center;">
                        <div class="form-container">
                            @using (Html.BeginForm("Enrolled_Courses", "Student", FormMethod.Post))
                            {

                                @Html.AntiForgeryToken()
                                @Html.Hidden("Course_Id", item.Course_Id)
                                <input type="submit" value="Enter into The Course" class="btn btn-primary" />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
