@model IEnumerable<EduzeniethFinal.Models.Student>

@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<style>
    body {
        background-color: #DAE3F3;
    }

    h2 {
        color: #0D6EFD;
    }

    .table thead {
        /* background-color: #0D6EFD;*/
        background-color: Indigo;
        backdrop-filter: blur(4px);
        color: black;
        font-size: larger;
        text-align: center;
    }

    .table tbody tr:nth-child(odd) {
        color: white;
        background: linear-gradient(130deg,rgb(62, 7, 7, 0.90),rgb(13, 9, 53, 0.10));
        backdrop-filter: blur(1px);
        text-align: center;
    }

    .table tbody tr:nth-child(even) {
        color: white;
        background: linear-gradient(10deg,rgb(11, 13, 94, 0.90),rgba(255,255,255,0.1));
        backdrop-filter: blur(20px);
        text-align: center;
    }

    .btn-primary {
        background-color: #0D6EFD;
        border-color: #0D6EFD;
    }

    .btn-success {
        color: black;
        background: linear-gradient(130deg,rgb(10, 255, 100),rgba(255,255,255,0.1));
        backdrop-filter: blur(20px);
    }

    .btn-danger {
        color: white;
        background: linear-gradient(120deg,rgb(255, 20, 0),rgba(255,255,255,0.1));
        backdrop-filter: blur(20px);
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
<h2 style="color:floralwhite;">Manage Students</h2>

<p style="float:right;">
    @Html.ActionLink("Add New Student", "Add_Student", "Admin", new { area = "" }, new { @class = "btn btn-primary text-white", style = "background-color: darkgreen;border-radius:5px;border-color:transparent;" })
</p>
<br />
<br />
<br />

<div class="table-responsive" style="color:white;padding:10px;">
    <table class="table table-bordered" style="border-radius: 10px;">
        <thead class="table-primary">
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="font-size:large;">
            @foreach (var student in Model)
            {

                <tr>
                    <td>@student.StudentID</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>@student.MobileNumber</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit_Student", "Admin", new { id = student.StudentID }, new { @class = "btn btn-success btn-lg", style = " color: black;background: linear-gradient(130deg,rgb(10, 255, 0),rgba(255,255,255,0.1)); backdrop-filter: blur(20px);" }) |
                        @Html.ActionLink("Delete", "Delete_Student", "Admin", new { id = student.StudentID }, new { @class = "btn btn-danger btn-lg" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
    </body>
